<launch>

    <node name="roscore_and_coppeliasim" pkg="bac_task" type="start_scene.bash" />

    <arg name="robots_config" value="$(find bac_task)/config/robots.yaml" />
    <rosparam file="$(arg robots_config)" command="load" />

    <node pkg="bac_task" type="robotino_kinematics.py" name="robotino_kinematics" output="screen" />

</launch>
